{% extends "base.html" %}

{% block body %}
  <p>This application is a simple Facebook client. It shows you your News Feed and enables you to post status messages back to your profile. It is designed to demonstrate the use of the <a href="http://developers.facebook.com/docs/api">Facebook Graph API</a>, the core part of the <a href="http://developers.facebook.com/">Facebook Platform</a>. To get started, log in to Facebook below:</p>
  <fb:login-button perms="read_stream,publish_stream"></fb:login-button>
  <p>You can <a href="http://github.com/facebook/python-sdk/blob/master/examples/client/facebookclient.py">download the source code</a> to this application on <a href="http://github.com/facebook/python-sdk">GitHub</a>.</p>
{% endblock %}
