body {
  background: white;
  margin: 0;
}

body,
input,
textarea {
  color: #333;
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  font-size: 13px;
}

a {
  color: #3b5998;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  border: 0;
  padding: 0;
}

#promo {
  background: #eee;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  color: gray;
  text-align: center;
}

#body {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

#header h1 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 25px;
}

#header .button {
  float: right;
}

#content {
  clear: both;
  margin-top: 15px;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  display: block;
  zoom: 1;
}

.feed .entry {
  padding-top: 9px;
  border-top: 1px solid #eee;
  margin-top: 9px;
}

.feed .entry .profile {
  float: left;
  line-height: 0;
}

.feed .entry .profile img {
  width: 50px;
  height: 50px;
}

.feed .entry .body {
  margin-left: 60px;
}

.feed .entry .name {
  font-weight: bold;
}

.feed .entry .attachment {
  font-size: 11px;
  line-height: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: gray;
}

.feed .entry .attachment.nopicture {
  border-left: 2px solid #ccc;
  padding-left: 10px;
}

.feed .entry .attachment .picture {
  line-height: 0;
  float: left;
  padding-right: 10px;
}

.feed .entry .attachment .picture img {
  border: 1px solid #ccc;
  padding: 3px;
}

.feed .entry .attachment .picture a:hover img {
  border-color: #3b5998;
}

.feed .entry .info {
  font-size: 11px;
  line-height: 17px;
  margin-top: 3px;
  color: gray;
}

.feed .entry .info.icon {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.feed .post .textbox {
  margin-right: 6px;
}

.feed .post .textbox textarea {
  margin: 0;
  border: 1px solid #bbb;
  border-top-color: #aeaeae;
  padding: 2px;
  width: 100%;
}

.feed .post .buttons {
  text-align: right;
}
